body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", san-serif;
    font-weight: 100;
    box-sizing: border-box;
}

header {

    width: 100%;
    text-align: center;
    color: white;
    HEIGHT: 150PX;
    padding: 50px 0px;
    background-color: #009bc7;
}

section{
    float: left;
    font-weight: 300;
    padding: 30px;
    width: 50%;
    font-size: 14px;
    color: #7d7d7d;
    box-sizing:border-box;
}



@media (max-width: 600px) {

    section {

        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 800px) {

    header {
        background-color: pink;
    }
}
