body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", san-serif;
    font-weight: 100;
    box-sizing: border-box;
}

header {

    width: 100%;
    text-align: center;
    color: white;
    HEIGHT: 150PX;
    padding: 50px 0px;
    background-color: #009bc7;
}

nav {

    clear:both;
}

nav li {

    display:inline-block;
    color: #333;
    padding: 20px;
    list-style: none;
}

article {

    clear: both;
    padding: 30px 60px;
}

footer {

    background-color: #e3e3d3;
    border: 1px solid #d0d0d0;
    clear: both;
    padding: 30px 60px;

}

h1 {

    text-align: center;
}

@media (max-width:940px) {
    article {
        width: 100%;

    }
}

@media (min-width:400px) and (max-width:600px) {
    header{
        background-color:tomato;
    }
}
@media print {

    nav,footer {

        display: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}
